<form id = "formCidade" action="/data/cidade" th:action="@{/data/cidade}"
	th:object="${formCidade}" method="post" target="listaCidades">
	<table>
		<tr>
			<td><label for="estado.idEstado">Estado:</label></td>
			<td><select th:field="*{estado.idEstado}"
				id="selecaoEstado">
					<option th:each="type : ${listEstados}" th:value="${type.idEstado}"
						th:text="${type.nomeEstado}" th:id="${type.siglaEstado}">Estados</option>
			</select></td>
		</tr>
		<tr>
			<input type="hidden" th:field="*{idCidade}" />
			<td><label for="nomeCidade">Cidade:</label></td>
			<td><input type="text" th:field="*{nomeCidade}" value="" /></td>
		</tr>

		<tr>
			<td colspan="2">
			<a class="btn btn-primary"
			th:onclick="'executaAjaxPost(\'listaCidades\',$(this).closest(\'form\')[0],\'\',\'\');'"><span
				class="btn-label"><i class="fa fa-check"></i></span>Salvar</a>
				</td>
		</tr>
		<tr>
			<td colspan="2">
				<h3 th:text="${message}">Mensagem</h3>
			</td>
		</tr>
	</table>
</form>